@attribute [Authorize(Roles = "SysAdmin")]
@page "/sysadmin"
@page "/sysadmin/list"


    <div class="row justify-content-center">
        <div class="col">
        <img src="/image/sysadmin.gif" style="width: 1800px;" />
        </div>
    </div>


