@attribute [Authorize(Roles = "BussinessManager")]

@page "/manager/graphics"

    <div class="row justify-content-center">
        <div class="col">
        <img src="/image/graphics.gif" style="width: 800px; " />
        </div>
    </div>

               

