@attribute [Authorize(Roles = "BussinessManager")]
@page "/manager"
@page "/manager/list"

    <div class="row justify-content-center">
        <div class="col">
        <img src="/image/manager.gif" style="width: 800px; " />
        </div>
    </div>

               

